In [169]:
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [170]:
# Load data from https://www.openml.org/d/40945
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)

In [171]:
X.head(5)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"

In [172]:
from sklearn.compose import ColumnTransformer

### Column Tranformation

##### This estimator allows different columns or column subsets of the input to be transformed separately and the features generated by each transformer will be concatenated to form a single feature space

#### Select cat and Continuous Features

In [173]:
numeric_features = ['age', 'fare']
categorical_features = ['embarked', 'sex', 'pclass']

#### Create a pipeline of both Continuous and Categorical Variables

In [174]:
cnts_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy='mean')),
    ('scale', StandardScaler())
])

In [175]:
categ_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

##### Apply Column TRansformers
#### List of (name, transformer, column(s)) tuples specifying the transformer objects to be applied to subsets of the data.

#### ColumnTransformer [('name', pipeline_name, features)]

In [176]:
preprocess_pipeline = ColumnTransformer([
    ('continuous', cnts_pipeline, numeric_features),
    ('cat', categ_pipeline, categorical_features)
    ])  ##remainder is used to get all the columns irrespective of transormation happened or not

#### Apply Fit_transform(Data)

In [179]:
X_train_processed = preprocess_pipeline.fit_transform(X)

In [186]:
X_train_processed

array([[-0.06842022,  3.4424802 ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-2.24909235,  2.28647622,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-2.16497396,  2.28647622,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       ...,
       [-0.26254556, -0.50407824,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.22372049, -0.50407824,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.06842022, -0.49151035,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

### Functionaltransformer

#### applies a function to a column which isn't technically a transformer is common, so Scikit-learn introduced a FunctionTransformer. A FunctionTransformer takes a function (such as np.log) and makes a transformer that does nothing when fit is called, but calls the function when transform is called.

In [187]:
from sklearn.preprocessing import FunctionTransformer

cnts_pipeline = Pipeline([
    ('impute', SimpleImputer(strategy='mean')),
    ('log', FunctionTransformer(np.log1p))
     
])

In [188]:
preprocess_pipeline = ColumnTransformer([
    ('continuous', cnts_pipeline, numeric_features)
    ])

In [189]:
X_train_processed = preprocess_pipeline.fit_transform(X)

In [190]:
X_train_processed

array([[3.40119738, 5.35817699],
       [0.65060496, 5.02749241],
       [1.09861229, 5.02749241],
       ...,
       [3.314186  , 2.1071783 ],
       [3.33220451, 2.1071783 ],
       [3.40119738, 2.18323834]])